# Unity generated
Library/
Temp/
Logs/
obj/
Build/
Builds/
UserSettings/

# OS
.DS_Store
Thumbs.db

# VS/Rider
*.csproj
*.sln
*.suo
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Fichiers de crash
*.blob